
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
body {
    background: url("images/congruent_pentagon.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #49494B;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    height: 100%;
    position: relative;
}
.wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto 67px;
    padding: 159px 0 0;
    position: relative;
    width: 1200px;
}
header {
    background-color: #91C73E;
    box-shadow: 0 3px 4px #888888;
    height: 140px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.headerContent {
    background-image: url("images/bg-right.png");
    background-position: 1049px center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1200px;
}
.mainImage {
    border: 1px solid #008000;
    box-shadow: 0 0 10px;
    height: 326px;
    width: 882px;
}
header img {
    float: left;
}
header h1 {
    color: #FFFFFF;
    font-family: 'Merienda One',cursive;
    font-size: 2em;
    left: 200px;
    position: relative;
    top: 31px;
}
section {
    float: left;
    margin: 0 0 10px 10px;
    width: 890px;
}
nav {
    float: left;
    left: 15px;
    margin: 0 10px 0 0;
    position: relative;
    top: 50px;
}
nav li {
    display: inline-block;
}
aside {
    background: url("images/purty_wood.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    float: right;
    margin: 0 10px 10px 0;
    min-height: 400px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 152px;
    width: 260px;
    z-index: 0;
    border-radius: 2px;
}
footer {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    clear: both;
    font-size: 0.6em;
    height: 34px;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
}
nav ul li a:link, nav ul li a:visited {
    background: linear-gradient(#78AE25, #1A8542) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-family: 'Merienda One',cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 51px;
    margin: 0 0 18px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover {
    background: url("images/purty_wood.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 3px 3px 3px #5FB466;
    color: #49494B;
}
h2 {
    background: url("images/purty_wood.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #49494B;
    font-family: 'Merienda One',cursive;
    font-size: 2.2em;
    font-weight: bold;
    left: -25px;
    letter-spacing: 2px;
    margin: 31px 0;
    padding: 9px 15px 15px 5px;
    position: relative;
    /* text-shadow: 1px 1px 1px #000000; */
    border-radius: 0 2px 2px 0;
}
.ribbon {
    background-image: url("images/corner.png");
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    left: -5px;
    position: relative;
    top: 50px;
    width: 19px;
}
section p {
    margin: 15px 40px 15px 0;
}
h3 {
    color: #49494B;
    font-family: 'Merienda One',cursive;
    font-size: 1.3em;
    margin: 15px 0 5px;
}
.twitter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #808080;
    height: 342px;
    margin: 15px 0 0;
    overflow-x: hidden;
    padding: 5px;
}
form p {
    margin: 5px 0;
}
input[type="text"] {
    padding: 3px;
}
input[type="text"] {
    padding: 3px;
}
footer a:link, footer a:visited {
    color: #FFFFFF;
}
.contactInfo {
    float: left;
    position: relative;
    text-align: left;
}
footer {
    color: #FFFFFF;
    padding: 4px 15px 0;
    text-align: center;
}
.coppyright {
    float: right;
    position: relative;
}
footer ul li {
    display: inline;
}
.contactInfo li {
    display: block;
    margin: 3px 0;
}
.socialMedia {
    margin: 0 auto;
    position: relative;
    width: 300px;
}
input[type="submit"] {
    background: linear-gradient(#1DB32F, #1A8542) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.1em;
    height: 25px;
    text-shadow: 1px 1px 1px #3D3939;
    width: 61px;
}
