.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack*/

body{
    font-family: 'Roboto', sans-serif;
    color: #49494B;
    font-size: 1em;
    background: url('images/congruent_pentagon.png');
    height: 100%;
    position: relative;
}
.wrapper {
    width: 1200px;
    margin: 0px auto 67px;
    background: #FFF;
    padding: 159px 0 0 0;
    position: relative;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 140px;
    background-color: #91C73E;
    box-shadow: 0 3px 4px #888;
    z-index: 1;
}
.headerContent {
    width: 1200px;
    margin: 0 auto;
    background-image: url('images/bg-right.png');
    background-repeat: no-repeat;
    background-position: 1049px;
    /* background-attachment: inherit; */
}
.mainImage {
    width: 882px;
    height: 326px;
    border: solid 1px green;
    box-shadow: 0 0 10px;
}
header img {
    float: left;
}
header h1 {
    font-family: 'Merienda One', cursive;
    position: relative;
    left: 200px;
    top: 31px;
    font-size: 2em;
    color: #FFF;
}
section {
    width: 890px;
    float: left;
    margin: 0 0 10px 10px;
}
nav {
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    top: 50px;
    left: 15px;
}
nav li {
    display: inline-block;
} 
aside {
    width: 260px;
    float: right; 
    min-height: 400px;
    background: #DB9C57;
    position: absolute;
    margin: 0 10px 10px 0;
    top: 152px;
    bottom: 0;
    right: 0;
    z-index: 0;
    padding: 12px;
}
footer{
    position: fixed;
    background: #000;
    height: 34px;
    overflow:hidden;
    clear: both;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .6em;
}
nav ul li a:link, nav ul li a:visited {
    font-family: 'Merienda One', cursive;
    margin: 0 0 18px 0;
    background: #1A8542;
    line-height: 51px;
    padding: 0 20px;
    border-radius: 2px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
}
nav ul li a:hover {
box-shadow: 3px 3px 3px #5FB466;
}
h2 {
    font-family: 'Merienda One', cursive;
    font-size: 2.2em;
    margin: 31px 0;
    position: relative;
    color: #fff;
    left: -25px;
    text-shadow: 3px 3px 3px #000000;
    font-weight: bold;
    background-color: #DB9C57;
    padding: 9px 15px 15px 5px;
    /* box-shadow: 3px 3px 3px #353333; */
    letter-spacing: 2px;
}
.ribbon{
    background-image: url('images/corner.png');
    background-repeat: no-repeat;
    position: relative;
    left: -5px;
    top: 50px;
    float: left;
    width: 19px;
    height: 15px;
    /* box-shadow: -2px 2px 3px #353333 inset; */
    /* z-index: -1; */
}
section p {
    margin: 15px 40px 15px 0;
}
h3 {
    font-family: 'Merienda One', cursive;
    font-size: 1.3em;
    margin: 15px 0 5px;
    color: #fff;
}
.twitter {
    background: #FFF;
    margin: 15px 0 0 0;
    padding: 5px;
    height: 342px;
    overflow-x: hidden;
    border: solid 1px grey;
}
form p {
    margin: 5px 0;
}
input[type="text"] {
    padding: 3px;
}
input[type="text"] {
    padding: 3px;
}
footer a:link, footer a:visited {
    color: #fff;
}
.contactInfo {
    position: relative;
    float: left;
    text-align: left;
}
footer {
    color: #fff;
    text-align: center;
    padding: 4px 15px 0;
}
.coppyright {
    float: right;
    position: relative;
}
footer ul li {
    display: inline;
}
.contactInfo li {
display: block;
margin: 3px 0;
} 
.socialMedia {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
input[type="submit"] {
height: 25px;
width: 61px;
display: inline-block;
background: linear-gradient(#1DB32F, #1A8542);
border: none;
color: #FFF;
/* font-family: 'Merienda One', cursive; */
/* font-weight: bold; */
text-shadow: 1px 1px 1px #3D3939;
/* text-transform: uppercase; */
/* letter-spacing: 2px; */
border-radius: 2px;
font-size: 1.1em;
}